@font-face {
    font-family: Build;
    src: url(../../../assets/Fonts/ESBuildTRIAL-Semibold-BF6618ac1dd0b22.otf);
}
@font-face {
    font-family: Inter;
    src: url(../../../assets/Fonts/Inter-VariableFont_opsz\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #090a0c;
}
.footer{
    width: 100%;
    height: 70vh;
    background-image: url(../../../assets/Images/footer-img.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #000000;
}
.clock{
    width: 20%;
    height: 60%;
    position: relative;
    border-radius: 50%;
    top: 17%;
    left: 21.5%;
}
.clock video{
    height: 100%;
    width: 100%;
    object-fit: contain
    ;
    overflow: hidden;
    border-radius: 50%;
}
/* -----------text --------------- */
.footer .footer-box{
    height: 40%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.137);
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(240, 248, 255, 0.842);
}
.footer-box h2{
    font-family: Build;
    font-size: 10vh;
    width: 22%;
    position: absolute;
    left: 45%;
    top: 20%;
    line-height: 0.9;
}
.footer-box p{
    width: 22%;
    font-family: Inter;
    font-size: 2vh;
    position: absolute;
    left: 45%;
    top: 50%;
    color: rgba(240, 248, 255, 0.842);
}

/* ------------Buttons----------------- */
.btn1 {
    color: rgb(51, 44, 33);
    font-family: Inter;
    font-size: 1rem;
    border-radius: 25px;
    background-color: rgba(236, 214, 206, 0.911);
    padding: 1rem 2rem;
    position: absolute;
    top: 60%;
    left: 45%;
}
 .btn2 {
    color: rgb(190, 190, 190);
    font-family: Inter;
    font-size: 1rem;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 25px;
    background-color: rgba(216, 113, 75, 0);
    padding: 1rem 2rem;
    position: absolute;
    top: 60%;
    left: 55%;
}
.btn2 img{
    height: 15px;
}

/*------- Mobile Responsiveness -------- */
@media only screen and (min-width:320px) and (max-width: 767px){
.footer{
    width: 100%;
    height: 70vh;
    position: relative;
}
.clock{
    width: 35%;
    height: 35%;
    position: relative;
    border-radius: 50%;
    top: 6%;
    left: 31.5%;
    background-color: transparent;
}
.clock video{
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    border-radius: 50%;
}
/* ---------------Text ------------ */
.footer .footer-box{
    height: 80%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.055);
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(240, 248, 255, 0.842);
}
.footer-box h2{
    font-family: Build;
    font-size: 2.5rem;
    width: 0;
    position: absolute;
    left: 31%;
    top: 40%;
    line-height: 0.9;
    text-wrap: nowrap;
    text-align: center;
}
.footer-box p{
    width: 82%;
    font-family: Inter;
    font-size: 1rem;
    position: absolute;
    left: 13%;
    top: 65%;
    text-wrap: wrap;
    text-align: center;
    color: rgba(240, 248, 255, 0.842);
}
/* =======-Buttons============ */
.btn1 {
    font-size: .9rem;
    padding: 1rem 3rem;
    position: absolute;
    top: 85%;
    left: 30%;
}
 .btn2 {
    font-size: .9rem;
    padding: 1rem 1.4rem;
    position: absolute;
    top: 100%;
    left: 30%;
    text-wrap: nowrap;
}
.btn2 img{
    height: 13px;
}
}

/* ---------Tab responsive----------- */
@media only screen and (min-width:767px) and (max-width:959px){
.footer{
    width: 100%;
    height: 70vh;
    position: relative;
}
.clock{
    width: 25%;
    height: 50%;
    position: relative;
    border-radius: 50%;
    top: 22.3%;
    left: 12.4%;
    background-color: transparent;
}
.clock video{
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    border-radius: 50%;
}
/* ---------------Text ------------ */
.footer .footer-box{
    height: 80%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.055);
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(240, 248, 255, 0.842);
}
.footer-box h2{
    font-family: Build;
    font-size: 2.5rem;
    width: 0;
    position: absolute;
    left: 44%;
    top: 25%;
    line-height: 0.9;
    text-wrap: nowrap;
    text-align: center;
}
.footer-box p{
    width: 52%;
    font-family: Inter;
    font-size: 1rem;
    position: absolute;
    left: 44%;
    top: 50%;
    text-wrap: wrap;
    text-align: left;
    color: rgba(240, 248, 255, 0.842);
}
/* =======-Buttons============ */
/* ------------Buttons----------------- */
.btn1 {
    font-size: .8rem;
    padding: .8rem 1rem;
    position: absolute;
    top: 70%;
    left: 45%;
}
 .btn2 {
    color: rgb(190, 190, 190);
    font-family: Inter;
    font-size: 1rem;
    background-color: rgba(216, 113, 75, 0);
    padding: .7rem 1rem;
    position: absolute;
    top: 70%;
    left: 60%;
}
.btn2 img{
    height: 12px;
}


}